@charset "UTF-8";

body h1, h2, h3, h4, h5, h6, ul, li {margin:0;}
body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
header, main, footer {
    max-width: 960px;
    margin: 0 auto;
}
header {
    background-image: url("../images/header.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 2px solid black;
    max-width: 960px;
    height: 250px;
    margin: 0 auto;
}
header h1 {
    color: rgb(255, 95, 32);
    padding: 1rem 0 0 2%;
    text-shadow: 2px 2px 5px #000;
    font-size: 3rem;
}
header h2 {
    color: rgb(255, 95, 32);
    padding: .5rem 0 0 2%;
    text-shadow: 2px 2px 5px #000;
    font-size: 2rem;
}
main h1 {
    color: rgb(255, 95, 32);
    padding: 1rem 0 0 0;
    text-shadow: 1px 1px 3px #000;
}
main h2 {
    color: rgb(52, 114, 34);
    padding: .4rem 0 0 0;
    text-shadow: 1px 1px 3px #000;
}
main p {padding: 1%;}
main ul {margin: 0;}
main ul.objectives li{
    list-style-image: url("../images/checkbox.png");
    
    margin-left: 3%;
    
}
main span#addedWords {
    color: rgb(255, 100, 38);
}
main button {
    display: block;
    background-color: #eadabd;
    border: solid 1px #837778;
    border-radius: 10px;
    padding: .5em;
    margin: 1%;
    width: 18%;
}
main article {
    float: left;
    width: 33.3%;
    margin: 1% 0 1% 0;
}
main article textarea {
    float: left;
    width: 95%;
}
footer {
    background-color: rgb(52, 114, 34);
    border: 1px solid black;
    clear: both;
}
footer p {
    text-align: center;
    color: #fff;
    padding: .5rem 0;
    text-shadow: 1px 1px 3px #000;
}